html , body {

	margin: 5px;
	padding: 10px;

}

#messages{
	margin-top: 5px;
	width: 500px;
	height:300px;
	padding: 10px;
	border: 1px solid black;
	overflow: auto;
}

#input{
	padding: 10px;
}

.active{
	color: red;
}